<nav>

    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>

    <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>

    <a routerLink="/products/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Product</a>

    <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Us</a>

    <a routerLink="/top-three" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Top Three Products</a>

</nav>
